<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PollerDir" value="E:\Temp\hl7\labo" />
    <add key="SearchPattern" value="*.*"/>
    <add key="PollingInterval" value="30000" />
    <add key="Hl7FileEncoding" value="iso-8859-1" />
    <add key="OrderUri" value="labo/{0}" />
  </appSettings>
  <connectionStrings>
    <add name="REST" connectionString="" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>