<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PatientUri" value="zis_patient/{0}" />
    <add key="PhotoUri" value="zis_photo/{0}" />
    <add key="PhotoEidUri" value="zis_photo/{0}/eid.jpg" />
    <add key="VisitUri" value="zis_visit/{0}" />
    <add key="WardUri" value="zis_ward/{0}" />
    <add key="DoctorUri" value="zis_doctor/{0}" />
    <add key="InsuranceCompanyUri" value="zis_insurancecompany/{0}" />
    <add key="VisitsByPatientIdUri" value="zis_visit/_design/docs/_view/by_patid?key=&quot;{0}&quot;&amp;include_docs=true" />
  </appSettings>
</configuration>